*
*/

!README.org
!.gitignore
!.gitsubmodules
!LICENSE
!flake.nix
!flake.lock

!.github/
!.github/**/
!.github/**/*.yaml

!lib/
!lib/**/
!lib/**/*.nix

!tests/
!tests/**/
!tests/**/*.nix
!tests/**/lisp/*.el

*~
*#
**/tmp/